<h1>Sign In</h1>

<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>

<div class="field">
 <%=f.label :name, "Select your name" %><br>
 <%=f.text_field :name %>
 </div>

  <div class="field">
     <%=f.label :password %><br>
     <%=f.password_field :password %>
 </div>


 <div class="action">
     <%=f.submit "Sign In" %>
</div>
<% end %>
